/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
/* styles.css */

body {
  font-family: Arial, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.cover-section {
  backdrop-filter: blur(30px);
  background: #1c1d20;
  background-position: center;

  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  cursor: pointer;
  background-image: url(../img/el_vectors-1x.png);
}
.cover-container {
  width: 100%;
  height: 508px;
  padding: 0;
  position: relative;
}
.covers-wrapp {
  max-width: 375px;
  padding: 20px 20px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 30px;
  position: absolute;
  right: -800px;
  left: 0;
  overflow: hidden;
}

.cover-list {
  height: 20vh;
  display: flex;
  transform: rotate(17deg);
  margin-bottom: 50px;
  padding: 0;
}

li {
  flex-shrink: 0;
  margin-right: 30px;
  padding: 0;
  width: calc((100%-20px) / 10);
  display: flex;
  align-items: center;
  justify-content: center;

  white-space: nowrap;
  animation-name: marqueeLine;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes marqueeLine {
  from {
    transform: translateX(-20%);
  }

  to {
    transform: translateX(-180%);
  }
}
.cover-section.scrolling .cover-list {
  animation: cover-section-scroll 20s linear infinite;
}
